<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wallyson.lima.vivamovie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vivamovie_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vivamovie_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.UI_MoviesActivity"></activity>
        <activity android:name=".view.UI_MainOptionsActivity" />
        <activity android:name=".view.UI_ErroActivity" />
        <activity android:name=".view.UI_RegisterActivity" />
        <activity android:name=".view.UI_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>